.descContainer{
    width: 100%;
    margin-top: 0.5rem;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0 ;
    /* background-color: rgb(137, 137, 137);  */
    /* background-color: rgba(0, 0, 0, 0.51);  */
    border: var(--playGroundBorder);
    overflow: hidden;
    font-family: 'Lora', Times, serif;
    font-size: 1rem;
    box-shadow: var(--playGroundShadow);
    color: var(--lightGrey);
}
.content{
    flex: 1;
    width: 100%;
    overflow: auto;
    background-color:white;
    padding: 0.2rem 0.5rem;
}

.content li,ol{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.content h4,h1,h3{
    margin: 0;
}

.leveldiv{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: max-content;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    /* padding: 0.1rem 0.5rem; */
    /* border: 2px solid black; */

    border-radius: 5px;
}
.exampleContainer{
    background-color: red;
    padding-left: 0.5rem;
    margin: 0.25rem;
    color: var(--lightGrey);
    background-color: white;
    border-bottom: 1px solid black;
    
}
.inputContinaer{
    padding: 0.25rem;
    color: var(--lightGrey);

}

.outputContinaer{
    background-color:var(--themeContrast);
    color: var(--lightGrey);
    padding: 0.5rem;

    border-radius: 5px;
}
