.Container{
    min-height:2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0rem;
    color: var(--lightGrey);
    background-color:var(--themeContrast);
}

.maxiBtn{

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    cursor: pointer;
    font-family: 'opensans', Times, serif;
    font-size: 1.2rem;
    /* background-color: pink; */

}

.maxiBtn img{
    width: 24px;
    margin-right: 2px;
    height: 24px;
    /* background-color: yellow; */
}