.CodeBarContainer{
    width: 100%;
    padding-left: 0.5rem;
    /* background-color: #4d8a77; */
    height: 2.5rem;
    display: flex;
    color: white;
    justify-content: space-between;
    align-content: center;
    /* background-color: rgba(183, 180, 184,0.8) finalaise by niks */
    background-color: var(--themeContrast);

}

.OptionContainer{
    display: flex;
    flex: 1;
    padding-right: 1rem;
    padding-left: 0rem;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    width: max-content;
    height: 100%;
    justify-content: flex-start;
}
.flexend{
    justify-content: flex-end;
}
.CodeBarContainer button{
    background-color: transparent;
    display: flex;
    /* background-color: pink; */
    color: var(--lightGrey);
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    border: none;
    font-family: 'opensans', Times, serif;
    font-size: 1.2rem;
    padding: 2px;
    cursor: pointer;
    height: 90%;
}
.CodeBarContainer button:hover{
    background-color:var(--themeContrast);
}
.CodeBarContainer button img{
    width: 24px;
    cursor: pointer;
    height:24px;

}

