
*{
  box-sizing: border-box;

}
.PlaygroundContainer{
    width: 100%;
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    background-color: pink;
    flex-wrap: nowrap;
    overflow: hidden;

}
.demo
{
  background-color: yellow;
  height: 900px;
  flex: 1;
  overflow: auto;
}
.ChallengeDescBox
{
    width: 40%;
    background-color: yellow;
    height: 100%;
    display: flex;
    overflow: auto;
    min-width: 100px;
    /* max-width: 100%; */
}
.CodeContainer{
    width: auto;
    min-width: 100px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex: 1;

}

.CodeEditor{
    background-color: black;
    min-width: 150px;
    display: flex;
    width: 100%;
    min-height: 150px;
    height: 70%;
    overflow-y: hidden;
    padding: 0;
}
.TestCaseContainer{
  background-color: orange;
  height: 10%; 
  flex:  1;/* Sets the height relative to the parent */
  min-height: 10%; /* Ensures it doesn't shrink below this */
  width: 100%; /* Ensures it takes the full width of its parent */
  min-width: 200px; /* Ensures a minimum width */
  display: flex;
  flex-direction: column; /* Organizes children in a vertical stack */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden

}


  
  
  .Resizer {
    width: 3px;
    align-self: center;
    height: 5%;
    cursor: ew-resize;
    margin: auto;
    display:flex;
    margin: 0.1rem;
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.8);
    transition: height 0.1s ease-in;
    
  }
  
  .Resizer:hover{
    height: 90%;
    border-radius: 2px;
    display: block;
    background-color: red;
  }

  .VResizer{
    margin: 0.1rem;
    width: 5%;
    align-self: center;
    height: 3px;
    border-radius: 2px;
    cursor:ns-resize;
    z-index: 10;
    border-radius: 5px;
    transition: width 0.1s ease-in;

    background-color: rgba(230, 230, 230, 0.8);

  }

  .VResizer:hover{
    width: 90%;
    background-color:red;

  }