.blockContainer{
    display: flex;
    height: 100vh;
    width: 100%;
    /* background-color: rebeccapurple; */
}
.Container{
    width: 100%;
    height: 100%;
    align-items: flex-start;
    display: flex;
    /* background-color:red; */
    flex: 1;
    /* background-color: red; */
    /* border: 1px solid red; */
    justify-content: center;
}
.innerContainer{
    height: 100%;
    background-color: aliceblue;
}
.loginContainer{
    /* background-color: red; */
    width: auto;
    background-color: aliceblue;
    /* min-height: 500px; */
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 1.5rem 3rem;
}
.loginContainer h1,h2{
    margin: 0;
}
.ImgContainer{
    width: 100%;
    height: 100%;
}
.ImgContainer img
{
    width: 100%;
    height: 100%;
}
.loginform{
    /* background-color: beige; */
    width: 100%;
    height: auto;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#loginbtn{
    align-self: flex-start;
    background-color: #0f3b3b;
    color: white;
    cursor: pointer;
    width: 7rem;
    padding:0;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    margin: 1rem 0rem;
    height: 3rem;
}
#loginbtn:hover{
    background-color: white;
    color: #e77b00;
}
.forminput {
    padding: 0.2rem 1rem;
    height: 2.5rem;
    width: 27rem;
    font-family: "Montserrat", 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid white;
    outline: 1px solid grey;
    margin-top: 1rem;
}
.forminput:focus{
    /* border: 1px solid black ; */
    outline: none;
}
#singupBtn{
    color: blue;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}


.warnborder{
    border: 1px solid white;
    outline: 1.5px solid red !important ;
}
.greenborder{
    border: 1px solid white;
    outline: 1.5px solid green !important;
}

.errorblock{
    align-self: flex-start;
    color: red;
    margin: 0;
    padding-left: 0.3rem;
    font-size: 0.8rem;
    display: none;
}
.display{
    display: block;
}
.oauth
{
    color: white;

    align-self: center;
    margin-top: 2rem;
    align-items: center;
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    width: max-content;
}

.oauth button{
    background-color: #0f3b3b;
    border-radius: 10px;
    padding: 0rem 0.5rem;
    size: 1.1rem;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    /* background-color: red; */

}
.oauth button img{
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
}
.oauth button:hover{
    background-color: white;
    color: #e77b00;
    cursor: pointer;
}