.Container{
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    border: 1px solid red;
    justify-content: center;
}
.loginform{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.forminput {
    padding: 0.2rem 1rem;
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 1rem;
}
.forminput:focus{
    /* border: 1px solid black ; */
    outline: none;
}
#singupBtn{
    color: blue;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.warnborder{
    border: 2px solid red ;
}
.greenborder{
    border: 2px solid green;
}

.errorblock{
    color: red;
    margin: 0;
    padding-left: 0.3rem;
    font-size: 0.8rem;
    display: none;
}
.display{
    display: block;
}