/* 
*{
    margin: 0%;
    padding: 0%;
} 
*/
.contianer{
  flex: 1;
  overflow-y: auto;
  background-color:var(--themeColor);
}
.spacer {
    height: auto; /* Adjust height as needed */
    width: 100%; /* Full width */
    display: flex;
    align-items: center; /* Vertically center items */
    padding: 1rem;
    /* background-color: yellow; */
    justify-content: space-between;
  }
  
  .buttons {
    display: flex; /* Adds spacing between the buttons */
  }
  /* h3{
    background-color: green;
  } */
  
  .button1 {
    background-color:rgb(126, 52, 238);
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 0 5px; 
  border-radius: 5px;
  border: none;
  font-weight: bold;
  }
  
  .button1:hover {
    background-color: rgb(128, 94, 247);
  }

  .button2 {
    background-color: white;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 0 5px; /* Adjust margin for spacing */
  border-radius: 5px;
  border: black;
  border:1px solid black;
  }
  
.content1{
  /* background-color: yellow; */
  /* background-color: green; */
  height: 100px;
}

.head{
  padding: 0.2rem 1rem;
  /* background-color: blue; */
  /* border: 1px solid red; */
}


.contestCardContainer {
  /* background-color: yellow; */
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
 
  padding: 1rem;

}
