/* Main container */
.manageContainer {
  background: linear-gradient(45deg, rgba(45, 250, 93, 0.2), rgba(255, 255, 255, 0.3), rgba(153, 94, 247, 0.2));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.manageHeader {
  color: #10b981;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Form container */
.manageForm {
  background-color: #f9f9f9;
  width: 70%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  animation: fadeIn 0.5s ease-in-out;
  overflow-y: auto; /* Make the form scrollable */
  max-height: 80vh; /* Prevent the form from exceeding the viewport height */
}

.managechallengebox{
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing as needed */
  margin-bottom: 1rem;
}

/* Label */
.manageLabel {
  font-size: 1.2rem;
  margin-bottom: 8px;
  display: inline-block;
  color: #333;
}

/* Inputs, textarea, and select dropdown */
.manageInput,
.manageTextarea,
.manageSelect {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.manageTextarea {
  resize: vertical;
}

.manageSelect {
  cursor: pointer;
}

/* Button group container */
.manageButtonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Buttons */
.manageUpdateButton,
.manageDeleteButton,.manageAddChallengeButton {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.manageAddChallengeButton{
  font-size: larger;
  top: -5;
}

.manageUpdateButton, .manageAddChallengeButton{
  background-color: #4caf50;
  color: white;
}

.manageDeleteButton {
  background-color: #f44336;
  color: white;
}

.manageUpdateButton:hover,
.manageDeleteButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .manageForm {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .manageForm {
    width: 90%;
  }

  .manageHeader {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .manageHeader {
    font-size: 1.2rem;
  }

  .manageForm {
    width: 100%;
    padding: 15px;
  }

  .manageLabel {
    font-size: 1rem;
  }

  .manageInput,
  .manageTextarea,
  .manageSelect {
    font-size: 0.9rem;
    padding: 8px;
  }

  .manageUpdateButton,
  .manageDeleteButton {
    padding: 8px;
  }
}
