.AddtestContainer{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    /* overflow-y: auto; */
}
.testCaseTable{
    /* background-color: pink; */
    flex-direction: column;
    display: grid;
    width: 100%;
    /* min-width: 350px; */
    /* max-width: ;: max-content; */
    padding: 1rem;
    overflow: auto;
}
.tableContainer{

    /* background-color: greenyellow; */
    display: flex;
    /* padding: 1rem; */
    width: 100%;
}

.trth{
    /* background-color: red; */
    flex: 1;
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    overflow: hidden;
    max-width: 100%;
}


.tabledata{
        display: flex;
        width: 100%;
        /* background-color: blue; */
        flex-direction: row;
        padding: 0.2rem 0.5rem;
        justify-content: center; 
}
.GuideLineContainer{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding:  0.5rem 1rem ;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;

}
.GuideLineContainer p{
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
}

.BtnContainer{
    flex: 1;
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
}
.testCasebtn{
    width: auto;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    height: 2rem;
    color: white;
    background-color: green;
}
.tablediv{
    
}


.theadtd{

    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    width: max-content;
    background-color: green;
    padding: 1rem;
    overflow: auto;

}
.tableBody{
    display:  flex ;
    min-width: max-content;
    width: 100%;
    flex-direction: column;
    /* background-color: yellow; */
    /* padding: 1rem; */
}

.sr{
    /* background-color: yellow; */
    grid-column: 1/2;
}


@media (max-width:400) {

    
}